NEXT_PUBLIC_CLINIC_NAME=DR. [NOMBRE]
NEXT_PUBLIC_WHATSAPP_NUMBER=+523312345678
NEXT_PUBLIC_CLINIC_ADDRESS=Blvrd Puerta de Hierro 5150, Puerta de Hierro, Zapopan, Jalisco, Mexico
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL=https://maps.google.com/?q=Puerta+de+Hierro+Zapopan
NEXT_PUBLIC_CAL_USERNAME=
